<!DOCTYPE html>
<html lang="en">
<head>
<style>
	body{
		background-color : lightblue;
	}
	h1{
		text-align: center;
	}
	article{
		text-align: center;
	}
	img{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
</style>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
	<img src="https://media.licdn.com/dms/image/C5603AQE2_2gQuasmpw/profile-displayphoto-shrink_200_200/0?e=1539216000&v=beta&t=N5taAG4kPBI32JEwhPf2seboY1LHvxz3GE8eCZZXssE">
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	<article>I study at  {{school}}</article>
	<article>Hobby: {{hobby}} </article>
	<article>Description : {{description}} </article>

	<img src="https://lh3.googleusercontent.com/-nX7yiW3_0pA/W45pT1xwpbI/AAAAAAAAAUo/Ru5MqEWGtzMIQ3VVHBsIIL3FaOpzc90_QCJoC/w530-h795-n-rw/4x6.jpg">
    <h1>Hello my name is Gde Indra Raditya Nugraha</h1>
    <article>NPM : 1706984606</article>
    <article>I am 19 years old</article>
	<article>I study at  {{school}}</article>
	<article>Hobby: Basketball  </article>
	<article>Description : A Balinese people,who loves sport and gaming </article>

	<img src="https://image.ibb.co/ji2HZe/rsz_hendrick_4x6.jpg">
    <h1>Hello my name is I Kade Hendrick Putra Kurniawan</h1>
    <article>NPM : 1706984612</article>
    <article>I am 19 years old</article>
	<article>I study at Faculty of Computer Science, University of Indonesia</article>
	<article>Hobby: Editing </article>
	<article>Description : I am proficient at communicating, building, and maintaining profesional relationships. Have good experience in leaderships, visual design, and cinematography </article>
</body>
</html>